// MAIN
// .main {
// 	flex: 1 0 auto;
// 	overflow: hidden;
// }
.home {
	// background-image: url(../img/top_fon.png);
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: center;
	position: relative;
	height: 100vh;
	display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
	// display: flex;
	// align-items: center;
	// overflow: hidden;
	&_title {
		color: #fff;
		font-size: 62px;
		margin-bottom: 10px;
	}
	&_item {
		color: #fff;
		font-size: 44px;
		margin-bottom: 20px;
	}
	&_text {
		font-size: 18px;
		color: #fff;
		margin-bottom: 40px;
	}
	&_button {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 40px;
		padding-right: 40px;
		color: #fff;
		border: 1px solid white;
		border-radius: 100px;
		display: inline-block;
		text-align: center;
		transition: all 0.3s ease;
		margin-right: 15px;
		// box-shadow: 0 0 8px 0 rgb(0 0 0 / 30%);
		&:hover {
			background: #7fdca2;
			color: #fff;
			// border: none;
			border: 1px solid #7fdca2;
		}
	}
	&_wrap {
		background-image: url(../img/top_fon.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}
.quality {
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	grid-gap: 30px;
	&_content {
		display: flex;
	}
	&_item {
		font-size: 18px;
		color: #a841e6;
		margin-bottom: 15px;
	}
	&_title {
		color: #010c39;
		font-size: 45px;
	}
	&_figure {
		transform: translate(-240px,-40px);
	}
	&_shape {
		margin-bottom: 25px;
	}
	&_text {
		font-size: 16px;
		color: #787878;
		margin-bottom: 30px;
	}
	&_statistics {
		display: grid;
		grid-template-columns: 170px 170px;
		grid-template-rows: 170px;
		grid-gap: 20px;
		&_content {
			background: #f5fbff;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&_title {
			font-size: 38px;
			color: #a841e6;
		}
		&_text {
			font-size: 16px;
			color: #787878;
		}
	}
}
// services
.services {
	background-image: url(../img/services.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	&_grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
	}
	&_img {
		background: rgb(60, 37, 99);
		width: 50px;
		height: 50px;
	}
	&_content {
		background-image: url(../img/ser_bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 400px;
	}
}